<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        <!--        출력 대상 콘솔-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}-%msg%n"/>
        </Console>
        <!--        추가 부분-->
        <!--출력 대상 파일-->
        <File name="FileAppender" fileName="logs/error.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}-%msg%n"/>
        </File>
        <!--        추가 부분-->

    </Appenders>
    <Loggers>
        <!--        추가 부분-->
        <!--        특정 패키지 명으로 설정가능. -->
        <Logger name="com.busanit501" level="debug" additivity="false">
            <!--            additivity="false": 상위 로거(Root 로거)로 이벤트를 전달하지 않음-->
            <!--            <AppenderRef ref="FileAppender" level="info"/>-->
            <AppenderRef ref="Console" level="info"/>
        </Logger>
        <!--        추가 부분-->
        <Logger name="com.busanit501.jsp_server_project1.springex_new_0219_keep.mapper" level="trace" additivity="false">
            <!--            additivity="false": 상위 로거(Root 로거)로 이벤트를 전달하지 않음-->
            <!--            <AppenderRef ref="FileAppender" level="info"/>-->
            <AppenderRef ref="Console"/>
        </Logger>

        <!--        전체 설정 기본적으로 INFO 이상일 때 로그를 출력하게 설정-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>